.desktop-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  li a {
    color: var(--white-hover);
    text-decoration: none;
    transition: color 300ms;
    font-family: var(--main-font-family);
    font-size: var(--fz-meduim);

    &:hover {
      color: var(--white);
    }
  }
}

.mobile-nav .mobile-side-drawer {
  box-shadow: 0 0 7px #555;
  position: fixed;
  top: 5rem;
  right: -30rem;
  list-style: none;
  z-index: 1000;

  background-image: linear-gradient(40deg, var(--purple), var(--black));
  padding: 1rem;
  margin: 1rem;
  display: grid;
  gap: 0.5rem;
  border-radius: 15px;
  text-align: center;
  transition: right 500ms;

  li a {
    color: var(--white-hover);
    text-decoration: none;
    transition: color 300ms;
    font-family: var(--main-font-family);
    font-size: var(--fz-meduim);

    &:hover {
      color: var(--white);
    }
  }
}

.mobile-nav .mobile-side-drawer.active {
  right: 0;
}
